<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Students</title>
</head>
<body>
    <h1>Welcome Students!</h1>

    <form action="/sign-in" method="post">
        <!--TODO:rv - Add sign in-->
        <input type="text" placeholder="What's your user name?" name="username">
        <button>Sign In</button>
    </form>
</body>
</html>